@model Biblioteca_MVC.Models.Libro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Información del libro</h1>

<div>
    <hr />
    <dl class="row ">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantPaginas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantPaginas)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>
        <dd class = "col-sm-10">
            $@Html.DisplayFor(model => model.PrecioCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioAlquiler)
        </dt>
        <dd class = "col-sm-10">
            $@Html.DisplayFor(model => model.PrecioAlquiler)
        </dd>

        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alquilado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alquilado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucionEnDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucionEnDias)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-dark" asp-action="Edit" asp-route-id="@Model?.ISBN">Editar</a> |
    <a class="btn btn-sm btn-dark" asp-action="Stock">Volver a la lista</a>
</div>
